/**
*
* Editorial Header
*
**/

.styleguide__feature-spotlight .featured-spotlight {
  line-height: 0;
  margin-bottom: 30px;

  section {
    border-bottom: 0;
  }
}

.featured-spotlight {
  margin-top: 20px;

  .image {
    clear: both;
    position: relative;
    margin: 0 0 0 0;

    h1 {
      user-select: none;
      padding: 10px 15px;
      background-color: $colorGrayDark; 
      color: $colorYellow;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
    }

    img {
      width: 100vw;
      height: 100%;
    }

    &:hover {
      h1 {
        color: $colorGrayDark;
        background-color: $colorYellow;
      }
    }
  }
}

.preview {
  display: none;
  background-color: $colorGrayDark;
  color: white;

  .intro, .meta {
    padding: 30px;

    p {
      padding-top: 0;
    }
  }

  .meta {
    float: right;
    background-color: $colorYellow;
    color: $colorGrayDark;
  }
  
  &.expanded {
    display: block;
    margin-bottom: 20px;
  }
}
